<html>
<head>
  <title>Martini</title>
  <link rel="stylesheet" href="//cdn.smtcs.rocks/bs/bs.css">
  <link rel='icon' type='image/jpg' href='/favicon.jpg'>
</head>
  <body>
    <%= content %>
  </body>
  <% if(env === 'production') { %>
    <script src="/bundle.js" charset="utf-8"></script>
  <% } else { %>
    <script src="/scripts/bundle.js" charset="utf-8"></script>
  <% } %>
</html>
